parameters:
    level: 7
    paths:
        - config/
        - src/
        - templates/pdf
    excludePaths:
        - src/Console/Installer.php
        - vendor
        - tmp
        - logs
    bootstrapFiles:
        - config/bootstrap.php
        - config/paths.php
        - templates/pdf/pdf_functions.php
        - vendor/cakephp/cakephp/src/I18n/functions_global.php
        - vendor/cakephp/cakephp/src/Core/functions_global.php
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon
